{% extends 'initial.html' %}
{% load staticfiles %}

{% block systemForm %}

    <div class="Systems_overview">
        <h3><strong id="system_name:{{ connectedSystem_id }}">{{ connectedSystem.name }} </strong></h3>
    </div>
{% endblock %}

{% block ioForm %}
    {% if usedio.name != "" %}
        <form action="{% url 'saveState' usedio.id %}" method="post">
        {%  csrf_token %}
            <div class="used_io_switches">
                <label for="IO_Name:{{ usedio.id }}">System Name:</label>
                <strong id="IO_Name:{{ usedio.id }}">{{ usedio.name }} </strong>
            <div class="onoffswitch">
                <input type="checkbox" name="io_switch" id="io_active:{{ usedio.id }}" class="onoffswitch-checkbox"
                         onchange="this.form.submit()" {% if usedio.active is True %} checked {% endif %}>
                <label class="onoffswitch-label" for="io_active:{{ usedio.id }}">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </div>
        </form>
    {% endif %}

{% endblock %}