{% extends 'initial.html' %}
{% load staticfiles %}

{% block systemForm %}
    <form action="{% url 'saveSystem' connectedSystem.id %}" method="post">
        {%  csrf_token %}
            <strong><label for="{{ connectedSystem.id }}">Systemname:</label></strong>
            <input type="text" name="system_name" id={{ connectedSystem.id }} value="{{ connectedSystem.name }}">
        </br>
        <strong>IP: </strong>{{ connectedSystem.lastIP }}
        </br>
        <strong>Mac Adresse: </strong>{{ connectedSystem.lastMacAddress }}
        </br>
        <strong>Seriennummer: </strong>{{ connectedSystem.serialNumber }}
        </br>
        </br>
        <strong>ConnectedStatus: </strong>{{ connectedSystem.connected }}
        </br>
        </br>
        </br>

    </form>
{% endblock %}

{% block ioForm %}
    <form action="{% url 'saveIO' usedio.id %}" method="post">
        {%  csrf_token %}

        {% block ioName %}
        {% endblock %}

        {% block pinLoop %}
        {% endblock %}

        {% block typeLoop %}
        {% endblock %}
    </form>
{% endblock %}